<button (click)="goToNewSemester()" >Enroll in new semester</button>


<table [dataSource]="dataSource!" class="mat-elevation-z8" mat-table matSort>


  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
    <mat-cell *matCellDef="let student">{{ student.id }}</mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="academicYear">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Akademska godina</mat-header-cell>
    <mat-cell *matCellDef="let student">{{ student.akademskaGodina }}</mat-cell>
  </ng-container>

  <!-- Region Name Column -->
  <ng-container matColumnDef="year">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Godina studija</mat-header-cell>
    <mat-cell *matCellDef="let student">{{ student.godinaStudija }}</mat-cell>
  </ng-container>

  <!-- Country Name Column -->
  <ng-container matColumnDef="date">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Renewal</mat-header-cell>
    <mat-cell *matCellDef="let student">{{ student.datumUpisa }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="renewal">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Renewal</mat-header-cell>
    <mat-cell *matCellDef="let student">{{ student.obnova }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="recordedBy">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Renewal</mat-header-cell>
    <mat-cell *matCellDef="let student">{{ student.snimio }}</mat-cell>
  </ng-container>

  <!-- Table Header and Rows -->
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</table>
